<a href="https://colab.research.google.com/github/arpon-dutta07/ai_image_enhancer/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Section 1: Data Loading
<h2> 1. Load the Titanic dataset using pandas and display the first five rows. </h2>

In [ ]:
import pandas as pd

df = pd.read_csv('titanic.csv')  # Reads the CSV file into a DataFrame
display(df.head())               # Displays the first 5 rows (only works in Jupyter/IPython)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 2. Display the shape, column names, and data types of the dataset.

# shape of the dataset.

In [ ]:
display(df.shape)
# This tells you the number of rows and columns in the dataset.
# This means the dataset has 891 rows (passengers) and 12 columns (features).

(891, 12)

# column names of the dataset.

In [ ]:
display(df.columns)
#Columns: Lists all feature names

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

# data types of the dataset.

Data Types:

int64 – integers (e.g. Survived, Pclass)

float64 – decimals (e.g. Age, Fare)

object – usually strings (e.g. Name, Sex, Cabin)

In [ ]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

None

# Section 2: Handling Missing Values
# Imputation means replacing missing data (NaN) in a dataset with estimated values so the data can still be used.

# 3. Identify all columns with missing values using .isnull().sum().

df.isnull() returns a DataFrame of the same shape as df, where each cell shows:

True if the value is missing (NaN)

False if the value is present

In [ ]:
display(df.isnull())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

(df.isnull().sum()) ---->This line shows the total number of missing (NaN) values in each column of the DataFrame df.

In [ ]:
display(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

 # optional:-
 droping the embarked table.
 As it was having only 2 null values.

In [ ]:
df.drop('Embarked', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

# 4. Fill missing values in the age column using mean imputation.

What it does:
df['Age'].fillna(df['Age'].mean()):

.This replaces all missing values in the Age column with the mean (average) age.

.It's a common strategy when you're dealing with missing numeric values.

df.isnull().sum():

.After the replacement, this shows how many missing values are left in each column.

In [ ]:
df['Age']=df['Age'].fillna(df['Age'].mean())

df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# 5. Fill missing values in the fare column using median imputation.

df['Fare'].median() computes the median fare (the middle value, not affected by extreme values).

.fillna(...) replaces any missing NaN values in the Fare column with that median.

In [ ]:
df['Fare'] = df['Fare'].fillna(df['Fare'].median())
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# 6. Fill missing values in the embarked column using mode imputation.

Replaces missing values in the Embarked column with the most frequent port (mode).

Then shows the total count of missing values in each column.

In [ ]:
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

# optional
Saves your modified DataFrame df into a new CSV file named 'titanic_half.csv'.

In [ ]:
df.to_csv('titanic_half.csv')

# 7. Fill missing values in the cabin column with the constant "Unknown".

Replaces all NaN values in the Cabin column with the constant string 'unknown'.

Then checks how many missing values remain in each column.

In [ ]:
df['Cabin'] = df['Cabin'].fillna('unknown')
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

# 8. Apply forward fill on the age column.

method='ffill' (forward fill) fills missing values by carrying the last valid value downward.

This is another common imputation method, especially for time-series or ordered data.

Then df.isnull().sum() shows how many missing values are left.

In [ ]:
df['Age']= df['Age'].fillna(method='ffill')
df.isnull().sum()

/tmp/ipython-input-3119864206.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Age']= df['Age'].fillna(method='ffill')

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

# 9. Apply backward fill on the age column.

method='bfill' (backward fill) tells pandas:

“If a value is missing, fill it using the next valid value below it.”

Then df.isnull().sum() prints how many missing values remain.

In [ ]:
df['Age']= df['Age'].fillna(method='bfill')
df.isnull().sum()

/tmp/ipython-input-2011289158.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Age']= df['Age'].fillna(method='bfill')

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

# Section 3: Encoding Categorical Variables

 Encoding means converting categorical (text) data into numerical (number) form so that machine learning models can understand and work with it.

# 10. Apply label encoding to the sex column.

 converting categorical values in the 'Sex' column into numerical format, which is essential for machine learning models.

 This maps:

'male' → 0

'female' → 1

It's a simple and efficient way to encode binary categorical data.

In [ ]:
df['Sex'] = df['Sex'].map({'male':0, 'female':1})
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,unknown,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,unknown,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,unknown,S

# 11. Apply one-hot encoding to the embarked column using pd.get_dummies().

In [ ]:
df=pd.get_dummies(df,columns=['Embarked'],drop_first=False)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,unknown,False,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,True,False,False
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,unknown,False,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,False,False,True
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,unknown,False,False,True

# Section 4: Feature Scaling
12. Apply Min-Max Scaling to the age column and create a new column age_minmax.

In [ ]:
df['age_minmax']=(df['Age']-df['Age'].min())/(df['Age'].max()-df['Age'].min())
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,age_minmax
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,unknown,False,False,True,0.271174
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,True,False,False,0.472229
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,unknown,False,False,True,0.321438
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,False,False,True,0.434531
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,unknown,False,False,True,0.434531

13. Apply Z-score standardization to the fare column and create a column fare_z.

In [ ]:
df['fare_z']=(df['Fare']-df['Fare'].mean())/df['Fare'].std()
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,age_minmax,fare_z
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,unknown,False,False,True,0.271174,-0.502163
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,True,False,False,0.472229,0.786404
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,unknown,False,False,True,0.321438,-0.488580
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,False,False,True,0.434531,0.420494
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,unknown,False,False,True,0.434531,-0.486064

14. Apply Robust Scaling to the fare column and create fare_robust.

In [ ]:
df['fare_robust']=(df['Fare']-df['Fare'].median())/(df['Fare'].quantile(0.75)-df['Fare'].quantile(0.25))
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,age_minmax,fare_z,fare_robust
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,unknown,False,False,True,0.271174,-0.502163,-0.312011
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,True,False,False,0.472229,0.786404,2.461242
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,unknown,False,False,True,0.321438,-0.488580,-0.282777
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,False,False,True,0.434531,0.420494,1.673732
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,unknown,False,False,True,0.434531,-0.486064,-0.277363

15. Apply Max-Abs Scaling to the fare column and create fare_maxabs

In [ ]:
df['fare_maxabs']=(df['Fare']-df['Fare'].min())/(df['Fare'].abs().max())
df.head(25)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,age_minmax,fare_z,fare_robust,fare_maxabs
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,unknown,False,False,True,0.271174,-0.502163,-0.312011,0.014151
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,C85,True,False,False,0.472229,0.786404,2.461242,0.139136
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,unknown,False,False,True,0.321438,-0.488580,-0.282777,0.015469
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,C123,False,False,True,0.434531,0.420494,1.673732,0.103644
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,unknown,False,False,True,0.434531,-0.486064,-0.277363,0.015713
5,6,0,3,"Moran, Mr. James",0,29.699118,0,0,330877,8.4583,unknown,False,True,False,0.367921,-0.477848,-0.259680,0.016510
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.000000,0,0,17463,51.8625,E46,False,False,True,0.673285,0.395591,1.620136,0.101229
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2.000000,3,1,349909,21.0750,unknown,False,False,True,0.019854,-0.223957,0.286744,0.041136
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.000000,0,2,347742,11.1333,unknown,False,False,True,0.334004,-0.424018,-0.143827,0.021731
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.000000,1,0,237736,30.0708,unknown,True,False,False,0.170646,-0.042931,0.676348,0.058694
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",1,4.000000,1,1,PP 9549,16.7000,G6,False,False,True,0.044986,-0.311997,0.097265,0.032596
11,12,1,1,"Bonnell, Miss. Elizabeth",1,58.000000,0,0,113783,26.5500,C103,False,False,True,0.723549,-0.113782,0.523864,0.051822
12,13,0,3,"Saundercock, Mr. William Henry",0,20.000000,0,0,A/5. 2151,8.0500,unknown,False,False,True,0.246042,-0.486064,-0.277363,0.015713
13,14,0,3,"Andersson, Mr. Anders Johan",0,39.000000,1,5,347082,31.2750,unknown,False,False,True,0.484795,-0.018699,0.728501,0.061045
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",1,14.000000,0,0,350406,7.8542,unknown,False,False,True,0.170646,-0.490005,-0.285843,0.015330
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",1,55.000000,0,0,248706,16.0000,unknown,False,False,True,0.685851,-0.326084,0.066948,0.031230
16,17,0,3,"Rice, Master. Eugene",0,2.000000,4,1,382652,29.1250,unknown,False,True,False,0.019854,-0.061964,0.635386,0.056848
17,18,1,2,"Williams, Mr. Charles Eugene",0,29.699118,0,0,244373,13.0000,unknown,False,False,True,0.367921,-0.386454,-0.062981,0.025374
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",1,31.000000,1,0,345763,18.0000,unknown,False,False,True,0.384267,-0.285837,0.153567,0.035134
19,20,1,3,"Masselmani, Mrs. Fatima",1,29.699118,0,0,2649,7.2250,unknown,True,False,False,0.367921,-0.502666,-0.313093,0.014102
20,21,0,2,"Fynney, Mr. Joseph J",0,35.000000,0,0,239865,26.0000,unknown,False,False,True,0.434531,-0.124850,0.500043,0.050749
21,22,1,2,"Beesley, Mr. Lawrence",0,34.000000,0,0,248698,13.0000,D56,False,False,True,0.421965,-0.386454,-0.062981,0.025374
22,23,1,3,"McGowan, Miss. Anna ""Annie""",1,15.000000,0,0,330923,8.0292,unknown,False,True,False,0.183212,-0.486483,-0.278264,0.015672
23,24,1,1,"Sloper, Mr. William Thompson",0,28.000000,0,0,113788,35.5000,A6,False,False,True,0.346569,0.066322,0.911484,0.069291
24,25,0,3,"Palsson, Miss. Torborg Danira",1,8.000000,3,1,349909,21.0750,unknown,False,False,True,0.095250,-0.223957,0.286744,0.041136

# Section 5: Outlier Detection and Removal

16. Detect and remove outliers in the age column using the IQR method.

In [ ]:
# Calculate the IQR for the 'Age' column
Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)
IQR = Q3 - Q1

# Define the lower and upper bounds for outlier detection
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify and remove outliers
df_no_outliers = df[(df['Age'] >= lower_bound) & (df['Age'] <= upper_bound)].copy()

print(f"Shape of original DataFrame: {df.shape}")
print(f"Shape of DataFrame after removing outliers: {df_no_outliers.shape}")

display(df_no_outliers.head())

Shape of original DataFrame: (891, 18)
Shape of DataFrame after removing outliers: (825, 18)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,age_minmax,fare_z,fare_robust,fare_maxabs
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,unknown,False,False,True,0.271174,-0.502163,-0.312011,0.014151
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,True,False,False,0.472229,0.786404,2.461242,0.139136
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,unknown,False,False,True,0.321438,-0.488580,-0.282777,0.015469
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,False,False,True,0.434531,0.420494,1.673732,0.103644
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,unknown,False,False,True,0.434531,-0.486064,-0.277363,0.015713

17. Detect and remove outliers in the age column using the Z-score method.

In [ ]:
from scipy.stats import zscore

# Calculate the Z-scores for the 'Age' column
z_scores = np.abs(zscore(df['Age']))

# Define a threshold for outlier detection (commonly 3)
threshold = 3

# Identify and remove outliers
df_no_outliers_zscore = df[z_scores < threshold].copy()

print(f"Shape of original DataFrame: {df.shape}")
print(f"Shape of DataFrame after removing outliers (Z-score): {df_no_outliers_zscore.shape}")

display(df_no_outliers_zscore.head())

Shape of original DataFrame: (891, 18)
Shape of DataFrame after removing outliers (Z-score): (884, 18)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,age_minmax,fare_z,fare_robust,fare_maxabs
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,unknown,False,False,True,0.271174,-0.502163,-0.312011,0.014151
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,True,False,False,0.472229,0.786404,2.461242,0.139136
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,unknown,False,False,True,0.321438,-0.488580,-0.282777,0.015469
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,False,False,True,0.434531,0.420494,1.673732,0.103644
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,unknown,False,False,True,0.434531,-0.486064,-0.277363,0.015713

# Section 6: Feature Engineering

18. Create a new column family_size = sibsp + parch + 1.

In [ ]:
df['family_size'] = df['SibSp'] + df['Parch'] + 1
display(df.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,age_minmax,fare_z,fare_robust,fare_maxabs,family_size
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,unknown,False,False,True,0.271174,-0.502163,-0.312011,0.014151,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,True,False,False,0.472229,0.786404,2.461242,0.139136,2
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,unknown,False,False,True,0.321438,-0.488580,-0.282777,0.015469,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,False,False,True,0.434531,0.420494,1.673732,0.103644,2
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,unknown,False,False,True,0.434531,-0.486064,-0.277363,0.015713,1

19. Create a new column fare_per_person = fare / family_size.

In [ ]:
df['fare_per_person'] = df['Fare'] / df['family_size']
display(df.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,age_minmax,fare_z,fare_robust,fare_maxabs,family_size,fare_per_person
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,unknown,False,False,True,0.271174,-0.502163,-0.312011,0.014151,2,3.62500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,True,False,False,0.472229,0.786404,2.461242,0.139136,2,35.64165
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,unknown,False,False,True,0.321438,-0.488580,-0.282777,0.015469,1,7.92500
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,False,False,True,0.434531,0.420494,1.673732,0.103644,2,26.55000
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,unknown,False,False,True,0.434531,-0.486064,-0.277363,0.015713,1,8.05000

# Section 7: Correlation Analysis

20. Calculate and print the correlation matrix for age, fare, family_size, and survived.

In [ ]:
correlation_matrix = df[['Age', 'Fare', 'family_size', 'Survived']].corr()
display(correlation_matrix)

                  Age      Fare  family_size  Survived
Age          1.000000  0.091566    -0.248512 -0.069809
Fare         0.091566  1.000000     0.217138  0.257307
family_size -0.248512  0.217138     1.000000  0.016639
Survived    -0.069809  0.257307     0.016639  1.000000

# Section 8: Cleanup for Modeling

21. Drop the columns name, ticket, passenger_id, and cabin from the dataset.

In [ ]:
df = df.drop(['Name', 'Ticket', 'PassengerId', 'Cabin'], axis=1)
display(df.head())

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,age_minmax,fare_z,fare_robust,fare_maxabs,family_size,fare_per_person
0,0,3,0,22.0,1,0,7.2500,False,False,True,0.271174,-0.502163,-0.312011,0.014151,2,3.62500
1,1,1,1,38.0,1,0,71.2833,True,False,False,0.472229,0.786404,2.461242,0.139136,2,35.64165
2,1,3,1,26.0,0,0,7.9250,False,False,True,0.321438,-0.488580,-0.282777,0.015469,1,7.92500
3,1,1,1,35.0,1,0,53.1000,False,False,True,0.434531,0.420494,1.673732,0.103644,2,26.55000
4,0,3,0,35.0,0,0,8.0500,False,False,True,0.434531,-0.486064,-0.277363,0.015713,1,8.05000